
body {
  font-family: "helvetica-now-text", sans-serif;
  font-family: "avenir-next-lt-pro", sans-serif;
}

.hero {
  position: relative;
  background: url('assets/background.png') no-repeat center center / cover;
  color: white;
  padding: 120px 40px 80px 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  box-sizing: border-box;
}

.hero h1 {
  font-family: "helvetica-now-text", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 75;
}

.hero .hero-text {
  max-width: 900px;
}

.hero-text p {
  font-family: "helvetica-now-text", sans-serif;
  font-size: 1rem;
  line-height: 29;
  font-weight: 400;
  margin-bottom: 28px;
  color: white;
}
